<nav-header title="Gallery Photos" disconnect="false"></nav-header>

<ion-content padding>
  <ion-list>
    <ng-container *ngFor="let user of users">
      <button ion-item=""  [navPush]="photoList" [navParams]="{id: user.id}" *ngIf="user.role=='Agent'">
        <ion-avatar item-start="">
          <img [src]="getAvatarUser(user.username)" alt="">
        </ion-avatar>
        <h2>{{user.person}}</h2>
        <h3>{{user.email}}</h3>
        <p item-end="">{{user.role}}</p>s
      </button>
    </ng-container>
  </ion-list>
</ion-content>
