<ion-header>
  <ion-navbar>
    <ion-title>{{text}}</ion-title>
    <ion-buttons end>
      <button *ngIf="disconnect == true" ion-button="" clear icon-end="" (click)="logOut()">
        Disconnect
        <ion-icon name="arrow-dropright"></ion-icon>
      </button>
      <button end *ngIf="orderBy" ion-button icon-only (click)="orderByTrigger($event)" color="white">
        <ion-icon name="more"></ion-icon>
      </button>
      <button *ngIf="alertmessage && count_message > 0" (click)="goToSms()" ion-button icon-only="" icon-start="" color="white" clear>
        <ion-icon name="mail"></ion-icon>
        <ion-badge color="danger">{{count_message}}</ion-badge>
      </button>
      <button *ngIf="alertmessage && count_message_direct > 0" (click)="goToSms()" ion-button icon-only="" icon-start="" color="white" clear>
        <ion-icon name="mail"></ion-icon>
        <ion-badge>{{count_message_direct}}</ion-badge>
      </button>
      <button end *ngIf="click_to_call != undefined" ion-button icon-only color="white" (click)="clickToCall()">
        <ion-icon name="call"></ion-icon>
      </button>
      <button end *ngIf="nexmo != undefined" ion-button icon-only color="white" (click)="showNexmo()">
        <ion-icon name="search"></ion-icon>
      </button>
      <button end *ngIf="setFlat" ion-button icon-only color="white" (click)="showFlat()">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
