page-login {
  .list-md[inset] .item-input{
    padding-right: 10px !important;
    padding-left: 10px !important;
  }
  ion-content{
    margin-top: 0 !important;
  }
  input{
    color: white !important;
  }
}
