<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content padding class="bg-black">
  <ion-grid>
    <ion-row class="text-center">
      <ion-col>
        <ion-img width="200" height="100" src="assets/imgs/logo_white.png"></ion-img>
        <form [formGroup]="form" (ngSubmit)="submitForm()">
          <ion-list inset>
          <ion-item>
            <ion-label floating>Username</ion-label>
            <ion-input type="text" formControlName="email" [(ngModel)]="email"></ion-input>
          </ion-item>
            <ng-container *ngFor="let validation of validation_messages.email">
              <p ion-text color="danger"
                    *ngIf="form.get('email').hasError(validation.type) && (form.get('email').dirty || form.get('email').touched)">
                {{validation.message}}
              </p>
            </ng-container>
          <ion-item>
            <ion-label floating>Password</ion-label>
            <ion-input type="password" formControlName="password" [(ngModel)]="password"></ion-input>
          </ion-item>
            <ng-container *ngFor="let validation of validation_messages.password">
              <p ion-text color="danger"
                 *ngIf="form.get('password').hasError(validation.type) && (form.get('password').dirty || form.get('password').touched)">
                {{validation.message}}
              </p>
            </ng-container>
        </ion-list>
          <button type="submit" ion-button outline
                  [disabled]="form.invalid">Login</button>
        </form>
        <ion-buttons>
          <button ion-button clear (click)="navegarPagina(recovery_page)">Forgotten Password?</button>
        </ion-buttons>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
