<nav-header class="page-header" disconnect="false" title="Reminders"></nav-header>
<ion-content>
  <ion-list inset>
      <button *ngFor="let remin of reminders_count" [navPush]="reminderPage" [navParams]="{reminders: reminders, date: remin.date_reminder}" ion-item>{{remin.date}}
          <ion-badge *ngIf="remin.count > 0" item-end>{{remin.count}}</ion-badge>
      </button>
    </ion-list>
</ion-content>