page-reminders {
    .item-ios {
        padding-left: 16px;
        /* padding-left: 16px; */
        /* border-radius: 0; */
        position: relative;
        font-size: 1.7rem;
        color: white !important;
        background-color: #343434 !important;
        -webkit-transition: background-color 200ms linear;
        transition: background-color 200ms linear;
    }
}
