
<nav-header class="page-header" title="Sms" orderBy="true" (orderEvent)="orderList($event)"></nav-header>
<ion-content class="content-body" padding>
 <ion-refresher (ionRefresh)="doRefresh($event)" refresher-text-color="white">
  <ion-refresher-content
          pullingIcon="arrow-dropdown"
          pullingText="Pull to refresh"
          refreshingSpinner="circles"
          refreshingText="Refreshing..."
          pullMin=200>
  </ion-refresher-content>
 </ion-refresher>
 <ion-searchbar (ionInput)="getItem($event)"></ion-searchbar>
 <ion-list>
  <button ion-item="" *ngFor="let contact of contact"
          [navPush]="user_messages"
          [navParams]="{
           worker_id:contact.worker_id,
           person_name: contact.person_name,
           node: contact.internal_node,
           internal_conversation_id: contact.internal_conversation_id,
           did_number: contact.did_number,
           direct_count: contact.direct_count
          }">
   <ion-avatar item-start="">
    <img [src]="contact.profile_image_url" alt="" onerror="this.src='https://upload.wikimedia.org/wikipedia/commons/7/7c/Profile_avatar_placeholder_large.png'">
   </ion-avatar>
   <ion-badge *ngIf="contact.direct_count > 0 && myId != contact.worker_id" item-start="">{{contact.direct_count}}</ion-badge>
   <ion-badge *ngIf="contact.count > 0" item-start="" color="danger">{{contact.count}}</ion-badge>
   <h2>{{contact.person_name}}</h2>
  </button>
 </ion-list>
</ion-content>
