<ion-header>
  <ion-navbar>
    <ion-title>Online Agents</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-list>
    <ng-container *ngFor="let agent of online_agent">
      <ng-container *ngIf="(nowDate - agent.date <=900000 && nowDate - agent.date >=-60000)&& agent.user_id!=myId">
        <ng-container *ngIf="agent.last_event != 'Offline'">
          <ion-item>
            <ion-avatar item-start="">
              <img [src]="'https://api.adorable.io/avatars/60/'+agent.username+'@adorable.png'" alt="">
            </ion-avatar>
            <h2>{{agent.personname}}</h2>
            <ion-note item-end="">{{agent.date | dateToFormat}}</ion-note>
            <p>Last event: {{agent.last_event}}</p>
            <!--<p *ngIf="nowDate - agent.date <=600000" class="text-warning">Iddle</p>-->
          </ion-item>
        </ng-container>
      </ng-container>
    </ng-container>
  </ion-list>
</ion-content>
