.tabs-ios .tabbar {
    background: #292929 !important;
}
.tabs-ios .tab-button[aria-selected=true] .tab-button-icon {
    color: white !important;
}
.tabs-ios .tab-button:hover:not(.disable-hover), .tabs-ios .tab-button[aria-selected=true] {
    color: white !important;
}