<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Home" tabIcon="home"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Sms" tabIcon="send"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Setting" tabIcon="settings"></ion-tab>
</ion-tabs>
