
<ion-header>

  <ion-navbar>
    <ion-title>Image Gallery Preview</ion-title>
    <ion-buttons end="">
      <button ion-button="" clear icon-only="" (click)="close(false)">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>
<ion-content padding>
  <div class="text-center">
    <img class="half-height" [src]="origin =='phone' || origin == 'profile' ? (image64 | sanitize) : image">
  </div>
  <ion-label stacked color="white">Message</ion-label>
  <ion-input type="text" [(ngModel)]="message"></ion-input>
  <button ion-button full (click)="close(true)">Accept</button>
  <button ion-button full color="danger" (click)="close(false)">Cancel</button>
</ion-content>
