page-add-reminder {
    .butreminder{
        display: block;
        margin: auto;
        border-radius: 20px;
        background: #fff;
        border:#fff;
        height: 40px;
        width: 200px;
        color: #000;
      }
      ion-input{
          color: #fff !important;
          text-align: left !important;
      }
      ion-datetime {
        color: #fff !important;
        text-align: center !important;
      }
      .datetime-text{
          text-align: left !important;
      }
      .text-input-ios {
        text-align: left !important;
        color: #fff !important;
    }
}
