
<ion-header>
  <ion-navbar>
    <ion-title>New Reminder</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
    <ion-list>
        <ion-item>
            <ion-label floating>Start Time</ion-label>
            <ion-datetime displayFormat="YYYY-MM-DD" [(ngModel)]="myDate"></ion-datetime>
        </ion-item>
        <ion-item>
          <ion-label floating>Please write your new tag</ion-label>
          <ion-input [(ngModel)]="reminder" type="text" value=""></ion-input>
        </ion-item>
      </ion-list>
      <button class="butreminder" ion-button color="light" block round (click)="saveReminder()">
        Save Change
      </button>
</ion-content>
