page-settingspassword {
      .btnupdatepass{
        display: block;
        margin: auto;
        background: #fff;
        border:#fff;
        color: #000;
      }
      ion-label{
        color: #fff !important;
      }
      .required{
        color:  red !important;
      }
      ion-input {
        color: #fff !important;
      }
}
