
<nav-header title="Change password" disconnect="false"></nav-header>
<ion-content padding class="bg-black">
  <ion-grid>
    <ion-row class="text-center">
      <ion-col>
        <form [formGroup]="form" (ngSubmit)="submitForm()">
          <ion-list inset>
          <ion-item>
            <ion-label floating>Current password <span class="required">*</span></ion-label>
            <ion-input type="password" formControlName="currentPassword" [(ngModel)]="currentPassword"></ion-input>
          </ion-item>
            <ng-container *ngFor="let validation of validation_messages.currentPassword">
              <p ion-text color="danger"
                    *ngIf="form.get('currentPassword').hasError(validation.type) && (form.get('currentPassword').dirty || form.get('currentPassword').touched)">
                {{validation.message}}
              </p>
            </ng-container>
          <ion-item>
            <ion-label floating>New password <span class="required">*</span></ion-label>
            <ion-input type="password" formControlName="newPassword" [(ngModel)]="newPassword"></ion-input>
          </ion-item>
            <ng-container *ngFor="let validation of validation_messages.newPassword">
              <p ion-text color="danger"
                 *ngIf="form.get('newPassword').hasError(validation.type) && (form.get('newPassword').dirty || form.get('newPassword').touched)">
                {{validation.message}}
              </p>
            </ng-container>

            <ion-item>
          <ion-label floating>Confirm password <span class="required">*</span></ion-label>
              <ion-input type="password" formControlName="confirmPassword" [(ngModel)]="confirmPassword"></ion-input>
            </ion-item>
            <ng-container *ngFor="let validation of validation_messages.confirmPassword">
              <p ion-text color="danger"
                    *ngIf="form.get('confirmPassword').hasError(validation.type) && (form.get('confirmPassword').dirty || form.get('confirmPassword').touched)">
                {{validation.message}}
              </p>
            </ng-container>
        </ion-list>
          <button type="submit" ion-button outline
                  [disabled]="form.invalid">Save Changes</button>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>

