<nav-header class="page-header" title="Calls"></nav-header>
<ion-content class="content-body" padding>
    <ion-list>
        <ion-item *ngFor="let call of calls" (click)="goTocalldetail(call)">
            <ion-avatar item-start="">
                <img [src]="generateAvatar(call.receptionist_name)" alt="">
            </ion-avatar>
            <h2>{{call.sender_phone}}</h2>
            <p>{{call.receptionist_name}}</p>
            <p class="text-white" item-end="">{{call.date | dateToFormat}}</p>
            <p>{{call.recipient_name}}</p>
        </ion-item>
 </ion-list>
 <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content
            loadingSpinner="bubbles"
            loadingText="Loading more data..."></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>

