<nav-header title="Group list" disconnect="false"></nav-header>
<ion-content>
    <ion-list>
        <ng-container *ngIf="role == 1;else normaluser">
            <button ion-item="" *ngFor="let group of groups" [navPush]="group_details_page" [navParams]="{id: group.id, name: group.name}">
                <ion-label>{{group.name}}</ion-label>
            </button>
        </ng-container>
        <ng-template #normaluser>
            <ion-item *ngFor="let group of groups">
                <ion-label>{{group.name}}</ion-label>
                <ion-toggle [checked]="group.status" (ionChange)="changeGroup(group.id)"></ion-toggle>
            </ion-item>
        </ng-template>
      </ion-list>
</ion-content>
