page-followup {
  .item-md [item-left],
  .item-md [item-right],
  .item-md [item-start],
  .item-md [item-end] {
    color: yellow !important;
  }
  .icon-follow {
    color: yellow !important;
  }
  .item-ios [item-right],
  .item-ios [item-end] {
    color: yellow !important;
  }
}
