<nav-header class="page-header" disconnect="false" title="FollowUp"></nav-header>
<ion-content>
  <ion-list>
      <ion-item-sliding *ngFor="let item of followupText">
          <ion-item>
              Message: {{item.split('$-$')[0]}}
              <ion-icon class="icon-follow" name="star" item-end></ion-icon>
          </ion-item>
          <ion-item-options>
              <button ion-button side="right" color="primary" (click)="sendNode(item.split('$-$')[1],item.split('$-$')[2], item.split('$-$')[4])">
                  <ion-icon name="information-circle"></ion-icon>
                      Details
              </button>
              <button ion-button side="right" color="danger" (click)="deleteFollowUp(item.split('$-$')[3])">
                  <ion-icon name="trash"></ion-icon>
                      Remove
              </button>
          </ion-item-options>
      </ion-item-sliding>
  </ion-list>
</ion-content>
