<nav-header class="page-header" title="Home"></nav-header>
<ion-content class="">
    <ion-card class="content-card slide-in-both-ways-tree" (click)="goToReminder()">
      <ion-item>
        <ion-avatar item-start>
            <ion-icon class="home-icon" name="clipboard"></ion-icon>
        </ion-avatar>
      </ion-item>
      <ion-card-content>
        <h2>Reminders</h2>
      </ion-card-content>
      <ion-row>
        <ion-col>
          <button ion-button icon-start clear small>
            <ion-icon name="information-circle"></ion-icon>
            <ng-container *ngIf="countReminder >= 0; else reminderSpinner">
              {{countReminder}} reminders
            </ng-container>
            <ng-template #reminderSpinner>
              <ion-spinner></ion-spinner>
            </ng-template>
          </button>
        </ion-col>
      </ion-row>
    </ion-card>
    <ion-card class="content-card slide-in-both-ways-one" (click)="goTofollowUp()">
        <ion-item>
          <ion-avatar item-start>
            <ion-icon class="home-icon" name="star"></ion-icon>
          </ion-avatar>
        </ion-item>
        <ion-card-content>
          <h2>FollowUp</h2>
        </ion-card-content>
        <ion-row>
          <ion-col>
            <button ion-button icon-start clear small>
              <ion-icon name="information-circle"></ion-icon>
              <ng-container *ngIf="followUp >= 0; else followupSpinner">
                {{followUp}} FollowUp
              </ng-container>
              <ng-template #followupSpinner>
                <ion-spinner></ion-spinner>
              </ng-template>
            </button>
          </ion-col>
        </ion-row>
      </ion-card>
  <ion-card class="content-card slide-in-both-ways" (click)="goToCalls()">
    <ion-item>
      <ion-avatar item-start>
        <ion-icon class="home-icon" ios="ios-call" md="md-call"></ion-icon>
      </ion-avatar>
    </ion-item>
    <ion-card-content>
      <h2>Calls entries</h2>
    </ion-card-content>
  </ion-card>
  <ion-card class="content-card slide-in-both-ways-two" (click)="goTogrouplist()">
    <ion-item>
      <ion-avatar item-start>
        <ion-icon class="home-icon" name="contacts"></ion-icon>
      </ion-avatar>
    </ion-item>
    <ion-card-content>
      <h2>Call Groups</h2>
    </ion-card-content>
    <ion-row>
      <ion-col>
        <button ion-button icon-start clear small>
          <ion-icon name="information-circle"></ion-icon>
          <ng-container *ngIf="groups >= 0; else GroupsSpinner">
            {{groups}} Call Groups
          </ng-container>
          <ng-template #GroupsSpinner>
            0 Call Groups
          </ng-template>
        </button>
      </ion-col>
    </ion-row>
  </ion-card>

  <ion-card class="content-card slide-in-both-ways-tree" (click)="goToAgentsOnline()">
      <div class="online_agents"></div>
    <ion-item>
      <ion-avatar item-start>
          <ion-icon class="home-icon" name="people"></ion-icon>
      </ion-avatar>
    </ion-item>
    <ion-card-content>
      <h2>Agents online</h2>
    </ion-card-content>
    <ion-row>
      <ion-col>
        <button ion-button icon-start clear small>
          <ion-icon name="information-circle"></ion-icon>
          <div class="">{{total_online}} Online</div>
        </button>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>
