page-home {
  .scroll-content{
    margin-bottom: 117px !important;
  }
  .content-card{
    border-radius: 0px !important;
  }
  .content-card,
  ion-item {
    background: white !important;
    color: #292929;
  }
  .home-icon {
    color: #292929 !important;
    zoom: 2 !important;
    display: block;
    margin: 0 auto;
    height: 10px;
    width: 10px;
  }
  .content-card>ion-item {
    background: #f4f4f4 !important;
    /* border-radius: 16px; */
    height: 60px;
    /* width: 116px; */
    display: block;
    margin: 0 auto;
    /* margin-top: 5px; */
  }
  .content-card,
  h2 {
    color: #292929 !important;
    text-align: center !important;
    font-size: 18px !important;
  }
  @-webkit-keyframes slideInBothWays {
    0% {
      -webkit-transform: translate3d(-100%, 0, 0);
    }
    50% {
      -webkit-transform: translate3d(50%, 0, 0);
    }
    100% {
      -webkit-transform: translate3d(0, 0, 0);
    }
  }
  .slide-in-both-ways {
    -webkit-animation: slideInBothWays ease-in 1;
    animation: slideInBothWays ease-in 1;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-duration: 750ms;
    animation-duration: 750ms;
  }
  .slide-in-both-ways-one {
    -webkit-animation: slideInBothWays ease-in 1;
    animation: slideInBothWays ease-in 1;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-duration: 1200ms;
    animation-duration: 1200ms;
  }
  .slide-in-both-ways-two {
    -webkit-animation: slideInBothWays ease-in 1;
    animation: slideInBothWays ease-in 1;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-duration: 1600ms;
    animation-duration: 1600ms;
  }
  .slide-in-both-ways-tree{
    -webkit-animation: slideInBothWays ease-in 1;
    animation: slideInBothWays ease-in 1;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-duration: 1600ms;
    animation-duration: 1700ms;
  }
  .content-card .online_agents{
    z-index: 9999;
    position: absolute;
    height: 10px;
    width: 10px;
    border-radius: 100%;
    right: 5px;
    top: 5px;
   background:  rgb(0, 150, 136);
  }
}
ion-spinner * {
  width: 20px !important;
  height: 20px;
  stroke: #488aff !important;
  fill: #488aff;
}
