<ion-content>
  <ion-list>
    <ion-list-header><strong>Order By</strong></ion-list-header>
    <button ion-item="" (click)="sendValue({field: 'person_name',order:'asc'})" icon-start="">
      <ion-icon name="arrow-dropup"></ion-icon>
      Ascendant
    </button>
    <button ion-item="" (click)="sendValue({field: 'person_name',order:'desc'})" icon-start="">
      <ion-icon name="arrow-dropdown"></ion-icon>
      Descendant
    </button>
    <button ion-item="" (click)="sendValue({field: 'date',order:'asc'})" icon-start="">
      <ion-icon name="mail"></ion-icon>
      Unseen messages
    </button>
  </ion-list>
</ion-content>
