<ion-header>
  <ion-navbar>
    <ion-title>Nexmo Info</ion-title>
    <ion-buttons end>
      <button ion-button outline color="secondary" (click)="dismiss()">
       Close
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding>
    <div [innerHtml]="nexmo_data" class="pre-mode"></div>
</ion-content>
