page-nexmo-modal {
  pre {
    outline: 1px solid #ccc;
    padding: 5px;
    margin: 5px;
  }
  .string {
    color: green;
  }
  .number {
    color: darkorange;
  }
  .boolean {
    color: blue;
  }
  .null {
    color: magenta;
  }
  .key {
    color: white;
  }
  .pre-mode{
    white-space: pre;
  }
  .scroll-content{
    margin-top: 0 !important;
    margin-bottom: 40px !important;
  }
}
