// http://ionicframework.com/docs/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
//declaracion de variables
$white:#fff;
$content-body: #141414;
$title-header-color:#fff;
$color-header:#292929 !important;
$color-body:#252222 !important;
$ionlist-color-fondo:#141414 !important;
$size-h2:15px !important;
$size-strong:15px !important;
$bg-button-header:#424242 !important;
$size-label:14px !important;
$padding-h2:2px !important;
$ionlabel-h2:14px !important;
$color-black:#000 !important;
$color-md-icon-tab-disable:#999 !important;
$color-toggle-active:#2ec95c !important;
$secondary : #32db64;
$danger : #f53d3d;
$warning: #ffc107;
.pressed{
  position: relative;
    background-color: #2bbbad4a;
    height: auto;
    width: 100%;
    margin-bottom: 0px !important;
}
.hidden{
  display: none !important;
}
.text-center {
  text-align: center;
}
.text-warning{
  color: $warning !important;
}
.text-white{
  color: white !important;
}
.btn-center {
  display: flex;
  margin: auto;
}

ion-img {
  background: none !important;
}

ion-content {
  margin-top: 56px;
}

.scroll-content {
  padding-top: 0 !important;
}

.sender-style {
  margin-left: 40%;
  width: 60%;
}

.receiver-style {
  margin-right: 40%;
  width: 60%;
}

.input-message-content {
  position: fixed;
  bottom: 60px;
  width: 100%;
  .input-message {
    float: left;
    width: 80%;
  }
}

.bg-danger {
  .toast-wrapper {
    background-color: $danger;
  }
}

.bg-success {
  .toast-wrapper {
    background-color: $secondary;
  }
}

//reglas globales css
ion-title {
  color: $title-header-color;
}

.toolbar-background-ios {
  background: $color-header;
}

.toolbar-title-ios {
  color: $title-header-color
}

.bar-button-clear-ios,
.bar-button-default.bar-button-ios-clear,
.bar-button-clear-ios-clear {
  color: #f4f4f4 !important;
  background-color: #424242 !important;
}

ion-content {
  background: $color-body;
}

ion-list {
  background: $ionlist-color-fondo;
}

b,
strong {
  font-weight: bold;
  color: $white;
}

ion-item {
  background: $color-body;
}

.list-header-ios {
  background: $color-body;
}

.grid {
  background: $color-body;
}

ion-list>button {
  background: $color-body;
}

h2 {
  color: $white;
  font-size: $size-h2 !important;
}

strong {
  font-size: $size-strong;
}

ion-item {
  color: $white;
}

ion-navbar>button {
  color: $white;
  background: $bg-button-header;
}

ion-label {
  size: $size-label;
}

span>h2 {
  font-size: 15px !important;
}

ion-label>h2 {
  font-size: $ionlabel-h2;
  padding: $padding-h2;
}

ion-avatar>ion-icon {
  color: $white;
}

.item-ios [item-right],
.item-ios [item-end] {
  margin: 8px;
  color: $white;
}

ion-list .datetime-ios {
  color: $white;
  padding: 12px 8px 11px 62px !important;
}

//md css
.toolbar-background-md {
  border-color: $color-header;
  background: $color-header;
}

.toolbar-title-md {
  color: $white;
}

.bar-button-clear-md,
.bar-button-clear-md-clear,
.bar-button-md-clear {
  color: $white;
}

.item-md {
  background: $color-body;
}

.list-header-md {
  margin-bottom: 0px !important;
}

.tabs-md .tabbar {
  background: $color-header;
}

.tabs-md .tab-button[aria-selected=true] .tab-button-icon {
  color: $white !important;
}

.tabs-md .tab-button[aria-selected=true] {
  color: $white !important;
  padding: 0;
}

.tabs-md .tab-button-icon {
  color: $color-md-icon-tab-disable;
}

.tabs-md .tab-button {
  color: $color-md-icon-tab-disable;
}

.item-md [item-left],
.item-md [item-right],
.item-md [item-start],
.item-md [item-end] {
  margin: 9px 8px 9px 0;
  color: $white;
}

.datetime-md {
  padding: 13px 8px 13px 141px !important;
  color: $white
}

.toggle-md.toggle-checked .toggle-inner {
  background-color: $color-toggle-active;
}

.bar-button-default-ios,
.bar-button-default.bar-button-ios-default,
.bar-button-clear-ios-default {
  color: $white;
}

.bar-button-default-md,
.bar-button-clear-md-default,
.bar-button-md-default {
  color: $white;
}
.alert-title {
  margin: 0;
  padding: 0;
  color: #8cb5fd;
}

//OMAR
ion-list {
  ion-label {
    color: $white;
  }
}
.half-height{
  height: 19rem;
}
