<!--
  Generated template for the PassrecoveryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Password Recovery</ion-title>
  </ion-navbar>

</ion-header>
<ion-content padding class="bg-black">
  <ion-grid>
    <ion-row class="text-center">
      <ion-col>
        <ion-img width="200" height="100" src="assets/imgs/logo_white.png"></ion-img>
        <form [formGroup]="form" (ngSubmit)="submitForm()">
          <ion-list inset>
            <ion-item>
              <ion-label color="primary" floating>Enter your email</ion-label>
              <ion-input [(ngModel)]="email" formControlName="email"></ion-input>
            </ion-item>
            <ng-container *ngFor="let validation of validation_messages.email">
              <p ion-text="" color="danger" *ngIf="form.get('email').hasError(validation.type) && (form.get('email').dirty || form.get('email').touched)">
                {{validation.message}}
              </p>
            </ng-container>
            <button ion-button="" [disabled]="form.invalid" type="submit">Send Email</button>
          </ion-list>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
