<ion-header *ngIf="chat== undefined">
  <ion-navbar>
    <ion-title>Photos List</ion-title>
    <ion-buttons end>
      <button end ion-button icon-only (click)="openGallery()" color="white">
        <ion-icon name="add-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-header *ngIf="chat">
  <ion-navbar>
    <ion-title>Photo List</ion-title>
    <ion-buttons end>
      <button end ion-button icon-only (click)="dismiss()" color="white">
        <ion-icon name="close-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <img width="33.33%" *ngFor="let image of images" [src]="image.url" (click)="dismiss(image.url)">
</ion-content>
