
<nav-header title="Find number"></nav-header>


<ion-content padding>
<button ion-button="" (click)="close()">close</button>
  <ion-searchbar item-start="" (ionInput)="getItem($event)"></ion-searchbar>
  <ion-list>
    <button ion-item *ngFor="let number of numbers.customers" (click)="close(number)">
      {{number.phone_number}}
    </button>
  </ion-list>
  <ng-container *ngIf="numbers.customers != null">
    <button ion-button="" *ngIf="numbers.customers.length == 0" (click)="close({phone_number: number_searched,id: null})">
      Send to this new number: {{number_searched}}
    </button>
  </ng-container>
</ion-content>
