<nav-header [title]="this.data.person_name" disconnect="false" orderby alertmessage="true"></nav-header>

<ion-content padding>
  <ion-tabs tabsPlacement="top">
    <ion-tab [root]="inboxPage" [rootParams]="data" tabTitle="View Inbox"></ion-tab>
    <ion-tab [root]="chatPage" [rootParams]="{
            'node': data.node,
            'worker_id': data.worker_id,
            'person_name': data.person_name,
            'internal_conversation_id': data.internal_conversation_id,
            'did_number': data.did_number,
            'scroll-content-top': true
    }" tabTitle="Direct Message"></ion-tab>
  </ion-tabs>
</ion-content>
