page-user-messages {
  .toolbar-content{
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .scroll-content {
    margin-bottom: 56px !important;
  }
  page-chat .scroll-content{
    padding-bottom: 70px !important;
  }
  .ion-fixed{
    width: 100%;
    background: #292929;
  }
}
