<nav-header class="page-header" title="Call details" disconnect="false"></nav-header>
<ion-content class="content-body">
  <ion-list>
    <ion-item>
      <strong item-start="">Date</strong>
      <ion-note item-end="">{{call.date}}</ion-note>
    </ion-item>
    <ion-item>
      <strong item-start="">Duration</strong>
      <ion-note item-end="">{{call.duration}} second(s)</ion-note>
    </ion-item>
    <ion-item>
      <strong item-start="">Incoming Call</strong>
      <ion-note item-end="">{{call.recipient_phone}}</ion-note>
    </ion-item>
    <ion-item>
      <strong item-start="">Agent</strong>
      <ion-note item-end="">{{call.recipient_name}}</ion-note>
    </ion-item>
    <ion-item>
      <strong item-start="">Number of Agent</strong>
      <ion-note item-end="">{{call.sender_phone}}</ion-note>
    </ion-item>
    <ion-item *ngIf="call.recording != null;else nodata">
      <audio controls controlsList="nodownload">
        <source [src]="call.recording" type="audio/mpeg">
        Your browser does not support the audio element.
      </audio>
    </ion-item>
    <ng-template #nodata>
      <ion-item>
        <strong item-start="">Call Recorded</strong>
        <ion-note item-end="">
          No data
        </ion-note>
      </ion-item>
    </ng-template>
  </ion-list>
</ion-content>
