page-calldetail {
  ion-content,ion-list{
    background-color: white !important;
  }
  .item-md{
    background: white !important;
  }
  .item-md [item-left], .item-md [item-right], .item-md [item-start], .item-md [item-end]{
    color: black !important;
  }
  ion-list ion-label{
    color: black !important;
  }
}
