chat-component {
  ion-content{
    margin-top: 0 !important;
    .scroll-content{
      margin-top: 0 !important;
      padding-top: 0 !important;
      height: 70vh;
    }
  }
  .toolbar-content{
    flex-direction: row;
    display: flex;
  }
  ion-card-content{
    .item-md{
      background: white !important;
    }
  }
  ion-input{
    color: white;
  }
  .ion-footer{
    left: 0;
    bottom: 0;
    position: absolute;
    z-index: 10;
    display: block;
    width: 100%;
  }
}