<nav-header class="page-header" disconnect="false" title="Reminder"></nav-header>
<ion-content padding>
  <ion-list>
    <ng-container *ngFor="let reminder of reminder_params_object" >
      <ion-item-sliding *ngIf="reminder.datereminder == reminder_params_date">
        <ion-item>
          {{reminder.note}}
          {{reminder.datereminder}}
        </ion-item>
        <ion-item-options>
          <button ion-button side="right" color="primary" (click)="goReminder(reminder.token,reminder.worker_id,reminder.node)">
            <ion-icon name="information-circle"></ion-icon>
            Details
          </button>
          <button ion-button side="right" color="danger" (click)="deleteReminder(reminder.id, $event)">
            <ion-icon name="trash"></ion-icon>
            Remove
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ng-container>
  </ion-list>
</ion-content>
