page-setting {
  .img{
      border-radius: 50%;
      display: block;
      margin: auto;
      img{
        height: 100%;
        margin: auto;
      }
    }
    .buttonupload{
    display: block;
    margin: auto;
    border-radius: 50%;
    background: #fff;
    border:#fff;
    height: 30px;
    width: 30px;
    color: #000;
    }
    .btnupdatepass{
      display: block;
      margin: auto;
    }
    .btn-profile{
      display: block;
      margin: auto;
    }
    .butupdateuser{
      display: block;
      margin: auto;
      border-radius: 20px;
      background: #fff;
      border:#fff;
      height: 40px;
      width: 200px;
      color: #000;
      margin-bottom: 100px !important;
    }
    .required{
      display: inline-block !important;
      color: red !important;
    }

}








