<nav-header title="Edit profile" disconnect="false">
  </nav-header>
  <ion-content padding>
    <ion-grid>
      <ion-row>
        <ion-col col-12>
          <ion-img class="img" width="100" height="100" [src]="profile_image.url"></ion-img>
          <button class="buttonupload" ion-button (click)="uploadProfileImage(profile_image.name)">
            <ion-icon class="" name="camera"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-list>
      <button ion-item="" (click)="name(paramsRequestUser.name)">
        <ion-note item-start="">First name <span class="required">*</span></ion-note>
        <span item-end="">{{paramsRequestUser.name}}</span>
      </button>
  
      <button ion-item="" (click)="last_name(paramsRequestUser.last_name)">
        <ion-note item-start="">Last name <span class="required">*</span></ion-note>
        <span item-end="">{{paramsRequestUser.last_name}}</span>
      </button>
  
      <button ion-item="" (click)="address(paramsRequestUser.address)">
        <ion-note item-start="">Address <span class="required">*</span></ion-note>
        <span item-end="">{{paramsRequestUser.address}}</span>
      </button>
  
      <button ion-item="" (click)="email(paramsRequestUser.email)">
        <ion-note item-start="">Email <span class="required">*</span></ion-note>
        <span item-end="">{{paramsRequestUser.email}}</span>
      </button>

      <button *ngIf="idRol==1 || idRol==2" ion-item="" (click)="rol(paramsRequestUser.role_id)">
        <ion-note item-start="">Role <span class=""></span></ion-note>
        <span item-end="">{{data.rol_name}}</span>
      </button>
  
      <button ion-item="" (click)="dids(paramsRequestUser.did_id)">
        <ion-note item-start="">Assign DIDS <span class="required">*</span></ion-note>
        <span item-end="">{{data.did_number}}</span>
      </button>
      <button ion-item="" (click)="phone_number(paramsRequestUser.phone_number)">
        <ion-note item-start="">Phone Number <span class="required">*</span></ion-note>
        <span item-end="">{{paramsRequestUser.phone_number}}</span>
      </button>
  
      <button ion-item="" (click)="contact_email(paramsRequestUser.backup_email)">
        <ion-note item-start="">Contact Email</ion-note>
        <span item-end="">{{paramsRequestUser.backup_email}}</span>
      </button>
      <button ion-item="" (click)="state(paramsRequestUser.state_id)">
        <ion-note item-start="">State <span class="required">*</span></ion-note>
        <span item-end="">{{data.state_name}}</span>
      </button>
  
      <button ion-item="" (click)="city(paramsRequestUser.city_id)">
        <ion-note item-start="">City  <span class="required">*</span></ion-note>
        <span item-end="">{{  data.city_name}}</span>
      </button>
    </ion-list>
    <button class="butupdateuser" ion-button color="light" block round (click)="updateUser()">
      Save Change
    </button>
  </ion-content>
  