<nav-header class="page-header" title="Sender details" disconnect="false"></nav-header>
<ion-content class="content-body">
    <ion-grid>
        <ion-row>
          <ion-col col-12>
            <ion-img class="img" width="100" height="100"  [src]="image"
            onError="this.src='https://firebasestorage.googleapis.com/v0/b/telebookchat.appspot.com/o/profile-image%2Fdefault.png?alt=media&token=92ca651e-73da-4dfd-abfc-39fb5b6e7ea8'"
            style="width: 50px;height: 40px"></ion-img>
            <strong class="text-center">{{name}} {{last_name}}</strong>
          </ion-col>
        </ion-row>
      </ion-grid>
          <ion-list>
          <ion-item-group>
            <ion-item>Username:{{username}}</ion-item>
            <ion-item>Email:{{email}}</ion-item>
            <ion-item>Role:{{role}}</ion-item>
            <ion-item>DIDS:{{did}}</ion-item>
            <ion-item>Contact Email:{{backup_email}}</ion-item>
            <ion-item>Number:{{phone_number}}</ion-item>
            <ion-item>Addres:{{address}}</ion-item>
            <ion-item-divider class="divide-line">This inbox belongs to</ion-item-divider>
            <ion-item>{{person_name}}</ion-item>
            <ion-item>DID: {{did_number}}</ion-item>

          </ion-item-group>
        </ion-list>
</ion-content>