page-sender-detail {
    .img{
        border-radius: 50%;
        display: flex;
        margin: auto;
      }
      .text-center{
        display: block;
        margin: auto;
      }
      .line{
          width: 100% !important;
          height: 2px !important;
          color: white !important;
      }
      .divide-line{
          background-color: white !important;
          color: black !important;
      }
      ion-item-divider ion-label{
        background-color: white !important;
        color: black !important;
      }
}
