<nav-header [title]="name" disconnect="false"></nav-header>
<ion-content padding>
  <ion-list>
    <ion-list-header>
      Admins
    </ion-list-header>
    <ion-item *ngFor="let admin of group_details.admins">
      <ion-label>
        {{admin.person}}
      </ion-label>
      <ion-toggle [checked]="admin.status" (ionChange)="changeGroup(id, admin.id)"></ion-toggle>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-list-header>
      Workers
    </ion-list-header>
    <ion-item *ngFor="let worker of group_details.workers">
      <ion-label>
        {{worker.person}}
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
