<nav-header class="page-header" title="Settings"></nav-header>
<ion-content class="content-body">
  <ion-list>
    <button ion-item="" (click)="goToProfile()">
      <ion-avatar item-start="">
        <ion-icon name="contact"></ion-icon>
      </ion-avatar>
      <h2>Edit profile</h2>
    </button>
    <button ion-item="" (click)="goToPassword()">
      <ion-avatar item-start="">
        <ion-icon name="key"></ion-icon>
      </ion-avatar>
      <h2>Edit password</h2>
    </button>
    <button ion-item="" (click)="goTogrouplist()">
      <ion-avatar item-start="">
          <ion-icon ios="ios-people" md="md-people"></ion-icon>
      </ion-avatar>
      <h2>Group list</h2>
    </button>
    <button ion-item="" (click)="goToconfiguration()">
      <ion-avatar item-start="">
          <ion-icon ios="ios-hammer" md="md-hammer"></ion-icon>
      </ion-avatar>
      <h2>Settings</h2>
    </button>
    <button ion-item="" (click)="closeConfirm()">
      <ion-avatar item-start="">
        <ion-icon name="power"></ion-icon>
      </ion-avatar>
      <h2>Close App</h2>
    </button>
  </ion-list>
</ion-content>
