page-chat {
  input{
    color: white;
  }
  .scroll-content-bottom{
    margin-bottom: 110px !important;
  }
  .scroll-content-top{
    margin-top: 0 !important;
  }
  .item-md{
    background-color: transparent !important;
  }
  .d-flex{
    &.align-items-center{
      .toolbar-content{
        display: flex;
        align-items: center;
      }
    }
  }
  .typing{
    position: fixed;
    left: 0;
    z-index: 9;
    display: flex;
    align-items: center;
    background: #424242e6;
    color: white;
    list-style-type: none;
    width: 100%;
    padding-left: 0;
    bottom: 70px;
    ion-spinner{
      margin-left: 20px;
    }
    li{
      display: flex;
      align-items: center;
      color: white;
    }
    ion-label{
      margin: 0;
    }
  }
  ion-spinner * {
    stroke: white;
    fill: white !important;
  }

/* Ripple effect */
.ripple {
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}

.ripple:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  background-image: radial-gradient(circle, #6cec9d91 10%, transparent 10.01%);
  background-repeat: no-repeat;
  background-position: 50%;
  transform: scale(10, 10);
  opacity: 0;
  transition: transform .5s, opacity 1s;
}

.ripple:active:after {
  transform: scale(0, 0);
  opacity: .3;
  transition: 0s;
}

ion-card-content{
  cursor: pointer;
}}
.pulse-followup {
  animation: pulse-followup 1s ease-in-out 2 both;
}
@keyframes pulse-followup {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}
.no-pl{
  padding-left: 0 !important;
}