<nav-header [title]="this.title"
            disconnect="false"
            setFlat="true"
            [click-to-call]="this.customer_phone_number"
            (directMessage)="directMessage($event)"
            [nexmo]="customer_id"></nav-header>
<ion-content padding>
    <ion-card [id]="chat.token" [ngClass]="chat.sender == myId || chat.sender_is_worker ? 'sender-style ripple' : 'receiver-style'" *ngFor="let chat of chat_message; let i = index">
        <ion-card-content (press)="i != 0 ? showOption(chat.sender,chat.sender_is_worker,chat.message,chat.date,chat.token, chat.tags, chat.sender_is_worker ? 'worker' : 'customer') : null">
            <img width="80px" [src]="chat.img" alt="">
            <p>{{chat.message}}</p>
            <ion-item class="no-pl">
                <ion-note color="black">{{chat.date | unixToHuman}}</ion-note>
                <ion-badge item-end *ngIf="tagsFormattedCount(chat.tags) > 0">Tags: {{tagsFormattedCount(chat.tags)}}</ion-badge>
            </ion-item>
        </ion-card-content>
    </ion-card>
</ion-content>
<ion-footer *ngIf="did_number != null">
    <ng-container *ngFor="let user of userTyping">
        <div *ngIf="myName != user.name" class="typing">
            <ion-spinner name="dots" item-start=""></ion-spinner>
            <ion-label item-end="">{{user.name}} is typing</ion-label>
        </div>
    </ng-container>
    <ion-toolbar class="d-flex align-items-center">
        <button
                ion-button=""
                icon-only=""
                clear
                item-start=""
                (click)="findImage()" *ngIf="mms">
            <ion-icon name="image" color="white"></ion-icon>
        </button>
        <ion-item>
            <ion-label stacked>Message</ion-label>
            <ion-input  (ionChange)="isTyping($event._value)"  (click)="scrollBotton()" class="clase-prueba" type="text" [(ngModel)]="message_written"></ion-input>
        </ion-item>
        <button
            ion-button
            icon-only=""
            clear
            item-end=""
            (click)="message_written=='' ? sendDefaultMessage() : sendMessageWritten(null, message_written)">
            <ion-icon [name]="message_written=='' ? 'hand' : 'send'" color="white"></ion-icon>
        </button>
    </ion-toolbar>
</ion-footer>