<!--<nav-header [title]="this.person_name" disconnect="false" orderby></nav-header>-->
<ion-content padding>
  <ion-buttons start="">
      <button ion-button="" icon-start="" (click)="openModal()">
        <ion-icon name="add-circle"></ion-icon>
        Add number
      </button>
    </ion-buttons>
  <ion-list>
    <button ion-item="" *ngFor="let message of inbox" (click)="goTochat(message.customer_phone_number, message.node, message.external_conversation_id,message.priority,message.worker_person, message.customer_id)">
      <ion-badge item-start="" *ngIf="message.count > 0 ">{{message.count}}</ion-badge>
      <strong>{{message.customer_person ? message.customer_person + ' (' + message.customer_phone_number+')' : message.customer_phone_number }}</strong>
      <p>{{message.last_message}}</p>
      <ion-note item-end text-right="">{{message.last_message_datetime | dateToFormat}}</ion-note>
      <ion-icon class="gren_priority" name="flag" item-end *ngIf="message.priority== 1"></ion-icon>
      <ion-icon class="yellow_priority" name="flag" item-end *ngIf="message.priority== 2"></ion-icon>
      <ion-icon class="red_priority" name="flag" item-end *ngIf="message.priority== 3"></ion-icon>
    </button>
  </ion-list>
</ion-content>
