page-inbox {
  .scroll-content{
    margin-top: 0!important;
  }
  .gren_priority {
    color: green !important;
  }
  .yellow_priority {
    color: yellow !important;
  }
  .red_priority {
    color: red !important;
  }
}
