<nav-header class="page-header" disconnect="false" title="Configurations"></nav-header>
<ion-content>
    <ion-card [navPush]="gallery">
        <ion-card-content>
            <ion-row text-center="">
                <ion-col col-12="">
                    <ion-icon name="images"></ion-icon>
                </ion-col>
                <ion-col>
                    <h2>Gallery Photos</h2>
                </ion-col>
            </ion-row>
        </ion-card-content>
    </ion-card>
</ion-content>
